body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.nav-md {
    margin-top: -1vw;
    background: url(../img/header.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 15vw;
    z-index: 999;
}

.nav-md ul {
    vertical-align: middle;
}
.nav-md ul li {
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 8.7vw;
}
.nav-md ul li a {
    text-decoration: none;
    color: white;   
    font-weight: bold;
    font-size: .95vw;
    letter-spacing: .2em;
}
.nav-md ul li a:hover {
    opacity: .7;
}
/*
.navbar {
    padding: 0;
    
}
.navbar .container-fluid {
    padding: 0;
}

#navbar .navbar-nav li {
    padding-left: 3.2em;
    padding-right: 3.2em;
    margin-top: 3.5em;
}

#navbar .navbar-nav li a {
    color: white;   
    font-weight: bold;
    font-size: 1vw;
    letter-spacing: .2em;
}
*/
.nav-md li:nth-child(1)  {
    transform:  translateY(-5%) rotate(6deg);
}
.nav-md li:nth-of-type(2)  {
    transform:  translateY(6%) rotate(2deg);
}
.nav-md li:nth-of-type(3)  {
    transform: translateY(6%) rotate(-2deg);
}
.nav-md li:nth-of-type(4)  {
    transform: translateY(-5%) rotate(-6deg);
}



.banner {
    position: relative;
    background: url(../img/banner.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: -11.75vw;
    min-height: 54vw;
    z-index: -1;
}

.banner h1 {
    padding-top: 20vw;
    color: white;
    font-size: 2.21vw;
    letter-spacing: .1em;
    font-weight: bold;
    margin-bottom: .6em;
}
.banner p {
    color: white;
    font-size: 1vw;
    font-weight: 600;
    line-height: 1.75em;
    letter-spacing: .05em;
}

.loans {
    max-width: 60%;
}

.loans h6 {
    background-color: black;
    color: white;
    font-size: .8em;
    font-weight: 600;
}

.loans div.col-md-4:nth-child(1) h6 {
    border-radius: 100% 0% 0% 0% / 85% 0% 0% 0%;
    text-align: right;
    padding: 1em 1em 1em 0;
}
.loans div.col-md-4:nth-child(2) h6 {
    border-radius: 100% 100% 0% 0% / 85% 85% 0% 0%;
    padding: 2em 0 1em 0;
}
.loans div.col-md-4:nth-child(3) h6 {
    border-radius: 0% 100% 0% 0% / 0% 85% 0% 0%;
    text-align: left;
    padding: 1em 0 1em 1em;
}
@media only screen and (max-width: 599px) {

    .nav-md {
        display: none;
    }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .nav-md {
        display: none;
    }
  
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .nav-md {
        display: block;
    }

}
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
    .nav-md {
        display: block;
    }
  
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
    .nav-md {
        display: block;
    }
    
}