body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.top {
    font-weight: bold;
    padding: .5em 0 .16em 0;
    font-size: .8rem;
}
.top ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly; 
}
.top ul li button {
    border: none;
    border-radius: 10px;
    background-color: black;
    color: #ffda00;
    padding: .05em .8em .1em .8em;
}
.top ul li button:hover {
    opacity: .7;
}
.navbar {
    background-color: black !important;
    box-shadow: 0 14px 14px -3px rgb(88, 88, 88);
}
.navbar a.nav-link {
    color: white !important;
    font-weight: bold;
    font-size: .8em;
    letter-spacing: .2em;
}
.navbar img.navbar-brand {
    text-align: left;
    width: 32%;
}
.nav-md {
    margin-top: -1vw;
    background: url(../img/header.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 15vw;
    z-index: 999;
}

.nav-md ul {
    vertical-align: middle;
}
.nav-md ul li {
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 8.7vw;
}
.nav-md ul li a {
    text-decoration: none;
    color: white;   
    font-weight: bold;
    font-size: .95vw;
    letter-spacing: .2em;
}
.nav-md ul li a:hover {
    opacity: .7;
}

.nav-md li:nth-child(1)  {
    transform:  translateY(-5%) rotate(6deg);
}
.nav-md li:nth-of-type(2)  {
    transform:  translateY(6%) rotate(2deg);
}
.nav-md li:nth-of-type(3)  {
    transform: translateY(6%) rotate(-2deg);
}
.nav-md li:nth-of-type(4)  {
    transform: translateY(-5%) rotate(-6deg);
}

.banner {
    position: relative;
    background: url(../img/banner.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 54vw;
    z-index: -1;
}

.banner h1 {
    color: white;
    letter-spacing: .1em;
    font-weight: bold;
    margin-bottom: .6em;
}
.banner p {
    color: white;
    font-weight: 600;
    line-height: 1.75em;
    letter-spacing: .05em;
    padding: 0 1.75em;
}

.loans {
    position: relative;
    margin-top: -10vw;
}
.loans h6 {
    position: absolute;
    color: white;
    letter-spacing: .09em;
    font-weight: 600;
}
.loans div.col-4:nth-child(2) {
    margin-top: -.599vw;
}

.loans div.col-4:nth-child(1) h6 {
    text-align: right;
}
.loans div.col-4:nth-child(2) h6 {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.loans div.col-4:nth-child(3) h6 {
    text-align: left;
}
@media only screen and (max-width: 599px) {

    .navbar {
        display: block;
    }
    .nav-md {
        display: none;
    }
    .banner h1 {
        padding-top: 1em;
        font-size: 1rem;
    }
    .banner p {
        font-size: .6em;
    }
    .loans {
        max-width: 100%;
    }
    .loans div.col-4 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .loans div img {
        width: 100%;
    }
    .loans h6 {
        font-size: .37rem;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 3.25vw;
        left: 18vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 3.25vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 3.25vw;
        right: 17.6vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .navbar {
        display: block;
    }
    .nav-md {
        display: none;
    }
    .banner {
        margin-top: 0;
    }
    .banner h1 {
        padding-top: 3em;
        font-size: 1.5rem;
    }
    .banner p {
        font-size: .7em;
    }
    .loans {
        max-width: 100%;
    }
    .loans div img {
        width: 100%;
    }
    .loans h6 {
        font-size: .65rem;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 3.25vw;
        left: 19vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 3.25vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 3.25vw;
        right: 18vw;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .navbar {
        display: none;
    }
    .nav-md {
        display: block;
    }
    .banner {
        margin-top: -11.75vw;
    }
    .banner h1 {
        padding-top: 20vw;
        font-size: 1.5rem;
    }
    .banner p {
        font-size: .8em;
    }
    .loans {
        max-width: 63vw;
    }
    .loans div img {
        width: 19.7vw;
    }
    .loans h6 {
        font-size: .9vw;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 1.9vw;
        left: 11.7vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 1.9vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 1.9vw;
        right: 11.3vw;
    }
}
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
    .navbar {
        display: none;
    }
    .nav-md {
        display: block;
    }
    .banner {
        margin-top: -11.75vw;
    }
    .banner h1 {
        padding-top: 20vw;
    }
    .banner p {
        font-size: .8em;
    }
    .loans {
        max-width: 63vw;
    }
    .loans div img {
        width: 19.7vw;
    }
    .loans h6 {
        font-size: .9vw;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 1.9vw;
        left: 11.7vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 1.9vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 1.9vw;
        right: 11.3vw;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
    .navbar {
        display: none;
    }
    .nav-md {
        display: block;
    }

    .banner {
        margin-top: -11.75vw;
    }
    .banner h1 {
        padding-top: 20vw;
        font-size: 2.21vw;
    }
    .banner p {
        font-size: 1vw;
    }
    .loans {
        max-width: 63vw;
    }
    
    .loans div img {
        width: 19.7vw;
    }
    .loans h6 {
        font-size: .9vw;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 1.9vw;
        left: 11.7vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 1.9vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 1.9vw;
        right: 11.3vw;
    }
}