body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.top {
    font-weight: bold;
    padding: .5vw 0 .15vw 0;
    font-size: .95vw;
    min-height: 3.4vw;
}
.top ul {
  list-style: none;
}
.top ul li {
    display: inline-block;
    padding: 0 2.5vw;
}
.top ul li img {
    margin-top: -2px;
    width: 1.1vw;
    vertical-align: middle;
}
.top ul li a {
    text-decoration: none;
    color: black;
}
.top ul li a:hover {
    opacity: .7;
}
.top ul li button {
    border: none;
    border-radius: 1em;
    background-color: black;
    color: #ffda00;
    padding: .1em .8em .09em .8em;
}
.top ul li button:hover {
    opacity: .7;
}
.navbar {
    background-color: black !important;
    box-shadow: 0 14px 14px -3px rgb(88, 88, 88);
}
.navbar a.nav-link {
    color: white !important;
    font-weight: bold;
    font-size: .8em;
    letter-spacing: .2em;
}
.navbar li:nth-child(5) a.nav-link {
    background-color: #2b2b2b;
    color: #ffda00 !important;
    border-radius: 10px;
}
.navbar img.navbar-brand {
    text-align: left;
    width: 32%;
}
.nav-md {
    margin-top: -1vw;
    background: url(../img/header.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 15vw;
    z-index: 999;
}

.nav-md ul {
    vertical-align: middle;
}
.nav-md ul li {
    display: inline-block;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 8.7vw;
}
.nav-md ul li a {
    text-decoration: none;
    color: white;   
    font-weight: bold;
    font-size: .95vw;
    letter-spacing: .2em;
}
.nav-md ul li a:hover {
    opacity: .7;
}

.nav-md li:nth-child(1)  {
    transform:  translateY(-5%) rotate(6deg);
}
.nav-md li:nth-of-type(2)  {
    transform:  translateY(6%) rotate(2deg);
}
.nav-md li:nth-of-type(3)  {
    transform: translateY(6%) rotate(-2deg);
}
.nav-md li:nth-of-type(4)  {
    transform: translateY(-5%) rotate(-6deg);
}
.banner {
    position: relative;
    background: url(../img/banner.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    z-index: -1;
}

.banner h1 {
    color: white;
    letter-spacing: .1em;
    font-weight: bold;
    margin-bottom: .6em;
}
.banner p {
    color: white;
    font-weight: 600;
    line-height: 1.75em;
    letter-spacing: .05em;
    padding: 0 1.75em;
}

.loans {
    position: relative;
    margin-top: -10vw;
}
.loans h6 {
    position: absolute;
    color: white;
    letter-spacing: .09em;
    font-weight: 600;
}
.loans div.col-4:nth-child(2) {
    margin-top: -.599vw;
}

.loans div.col-4:nth-child(1) h6 {
    text-align: right;
}
.loans div.col-4:nth-child(2) h6 {
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}
.loans div.col-4:nth-child(3) h6 {
    text-align: left;
}
.about {
    position: relative;
    background: url(../img/about.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.about div {
    position: relative;
}
.about div.col-12 h4 {
    position: absolute;
    color: white;
    font-weight: 600;
    letter-spacing: .18em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}
.about div.col h5 {
    position: absolute;
    color: #616463;
    font-weight: 600;
    letter-spacing: .06em;
}
.about div.col p {
    position: absolute;
    color: #616463;
    letter-spacing: .06em;
}
.branch {
    position: relative;
    background: url(../img/branch.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.branch div {
    position: relative;
}
.branch div.col-12 h4 {
    position: absolute;
    color: white;
    font-weight: 600;
    letter-spacing: .18em;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
}
.branch div.col-4 h5 {
    position: absolute;
    color: #616463;
    font-weight: 600;
    letter-spacing: .06em;
}
.branch div.col-4 h6 {
    position: absolute;
    color: #616463;
    font-weight: bold;
    letter-spacing: .06em;
}
.branch div.col-4 p {
    position: absolute;
    color: #616463;
    letter-spacing: .06em;
}
@media only screen and (max-width: 599px) {

    .top {
        display: none;
    }
    .navbar {
        display: block;
    }
    .nav-md {
        display: none;
    }
    .banner {
        min-height: 75vw;
    }
    .banner h1 {
        padding-top: 1.5em;
        font-size: 1.03rem;
    }
    .banner p {
        font-size: .7em;
    }
    .loans {
        max-width: 100%;
    }
    .loans div.col-4 {
        padding-left: 3px;
        padding-right: 3px;
    }
    .loans div img {
        width: 100%;
    }
    .loans h6 {
        font-size: .45rem;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 2.9vw;
        left: 15.2vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 2.9vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 2.9vw;
        right: 14.6vw;
    }
    .about {
        min-height: 54vw;
    }
    .about div.col-12 h4 {
        font-size: 2.75vw;
        top: 12.5vw;
    }
    .about div.col h5 {
        font-size: 2vw;
        line-height: 2.3vw;
    }
    .about div.col:nth-child(1) h5 {
        top: 34vw;
        left: 8.6vw;
    }
    .about div.col:nth-child(2) h5 {
        top: 33vw;
        left: 11.9vw;
    }
    .about div.col:nth-child(3) h5 {
        top: 33vw;
        left: 13.8vw;
    }
    .about div.col p {
        font-size: 1.85vw;
        line-height: 1.85vw;
        top: 38.5vw;
        padding: 0 1.3em;
    }
    .about div.col:nth-child(1) p {
        left: -2vw;
    }
    .about div.col:nth-child(2) p {
        left: 2.5vw;
    }
    .about div.col:nth-child(3) p {
        left: 6.8vw;
    }
    .branch {
        min-height: 34.5vw;
    }
    .branch div.col-12 h4 {
        font-size: 2.75vw;
        top: 2vw;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .top {
        display: none;
    }
    .navbar {
        display: block;
    }
    .nav-md {
        display: none;
    }
    .banner {
        margin-top: 0;
        min-height: 54vw;
    }
    .banner h1 {
        padding-top: 3em;
        font-size: 1.5rem;
    }
    .banner p {
        font-size: .7em;
    }
    .loans {
        max-width: 100%;
    }
    .loans div img {
        width: 100%;
    }
    .loans h6 {
        font-size: .65rem;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 3.25vw;
        left: 19vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 3.25vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 3.25vw;
        right: 18vw;
    }
    .about {
        min-height: 47vw;
    }
    .about div.col-12 h4 {
        font-size: 2.5vw;
        top: 10.5vw;
    }
    .about div.col h5 {
        font-size: 2vw;
        line-height: 2.25vw;
    }
    .about div.col:nth-child(1) h5 {
        top: 31.5vw;
        left: 12.3vw;
    }
    .about div.col:nth-child(2) h5 {
        top: 30.5vw;
        left: 11.9vw;
    }
    .about div.col:nth-child(3) h5 {
        top: 30.5vw;
        left: 9.5vw;
    }
    .about div.col p {
        font-size: 1.5vw;
        min-width: 25vw;
        line-height: 1.7vw;
        top: 35.5vw;
    }
    .about div.col:nth-child(1) p {
        left: 5.8vw;
    }
    .about div.col:nth-child(2) p {
        left: 5.1vw;
    }
    .about div.col:nth-child(3) p {
        left: 3.3vw;
    }
    .branch {
        min-height: 30vw;
    }
    .branch div.col-12 h4 {
        font-size: 2.5vw;
        top: 1.6vw;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
    .top {
        display: none;
    }
    .navbar {
        display: block;
    }
    .nav-md {
        display: none;
    }
    .banner {
        margin-top: -11.75vw;
        min-height: 54vw;
    }
    .banner h1 {
        padding-top: 20vw;
        font-size: 1.5rem;
    }
    .banner p {
        font-size: .8em;
    }
    .loans {
        max-width: 63vw;
    }
    .loans div img {
        width: 19.7vw;
    }
    .loans h6 {
        font-size: .9vw;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 1.9vw;
        left: 11.7vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 1.9vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 1.9vw;
        right: 11.3vw;
    }
    .about {
        min-height: 40vw;
    }
    .about div.col-12 h4 {
        font-size: 1.9vw;
        top: 9vw;
    }
    .about div.col h5 {
        font-size: 1.7vw;
        line-height: 2vw;
    }
    .about div.col:nth-child(1) h5 {
        top: 26vw;
        left: 17.8vw;
    }
    .about div.col:nth-child(2) h5 {
        top: 25.1vw;
        left: 13vw;
    }
    .about div.col:nth-child(3) h5 {
        top: 25.1vw;
        left: 6vw;
    }
    .about div.col p {
        font-size: 1.1vw;
        min-width: 20vw;
        top: 29.5vw;
    }
    .about div.col:nth-child(1) p {
        left: 12.9vw;
    }
    .about div.col:nth-child(2) p {
        left: 6.9vw;
    }
    .about div.col:nth-child(3) p {
        left: 1.7vw;
    }
    .branch {
        min-height: 26.5vw;
    }
    .branch div.col-12 h4 {
        font-size: 1.9vw;
        top: 1.8vw;
    }
}
  /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
    .top {
        display: block;
    }
    .navbar {
        display: none;
    }
    .nav-md {
        display: block;
    }
    .banner {
        margin-top: -11.75vw;
        min-height: 54vw;
    }
    .banner h1 {
        padding-top: 20vw;
    }
    .banner p {
        font-size: .8em;
    }
    .loans {
        max-width: 63vw;
    }
    .loans div img {
        width: 19.7vw;
    }
    .loans h6 {
        font-size: .9vw;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 1.9vw;
        left: 11.7vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 1.9vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 1.9vw;
        right: 11.3vw;
    }
    .about {
        min-height: 30vw;
    }
    .about div.col h5 {
        font-size: 1.275vw;
        line-height: 1.5vw;
    }
    .about div.col-12 h4 {
        font-size: 1.49vw;
        top: 6.54vw;
    }
    .about div.col:nth-child(1) h5 {
        top: 19.6vw;
        left: 25.25vw;
    }
    .about div.col:nth-child(2) h5 {
        top: 18.9vw;
        left: 13.5vw;
    }
    .about div.col:nth-child(3) h5 {
        top: 18.9vw;
        left: .17vw;
    }
    .about div.col p {
        font-size: .8vw;
        min-width: 22vw;
        line-height: 1vw;
        top: 22.5vw;
    }
    .about div.col:nth-child(1) p {
        left: 18.2vw;
    }
    .about div.col:nth-child(2) p {
        left: 6vw;
    }
    .about div.col:nth-child(3) p {
        left: -6.1vw;
    }
    .branch {
        min-height: 19.5vw;
    }
    .branch div.col-12 h4 {
        font-size: 1.49vw;
        top: 1.15vw;
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
    .top {
        display: block;
    }
    .navbar {
        display: none;
    }
    .nav-md {
        display: block;
    }

    .banner {
        margin-top: -11.75vw;
        min-height: 54vw;
    }
    .banner h1 {
        padding-top: 20vw;
        font-size: 2.21vw;
    }
    .banner p {
        font-size: 1vw;
    }
    .loans {
        max-width: 63vw;
    }
    
    .loans div img {
        width: 19.7vw;
    }
    .loans h6 {
        font-size: .9vw;
    }
    .loans div.col-4:nth-child(1) h6 {
        top: 1.9vw;
        left: 11.7vw;
    }
    .loans div.col-4:nth-child(2) h6 {
        top: 1.9vw;
    }
    .loans div.col-4:nth-child(3) h6 {
        top: 1.9vw;
        right: 11.3vw;
    }
    .about {
        min-height: 30vw;
    }
    .about div.col h5 {
        font-size: 1.275vw;
        line-height: 1.5vw;
    }
    .about div.col-12 h4 {
        font-size: 1.49vw;
        top: 6.54vw;
    }
    .about div.col:nth-child(1) h5 {
        top: 19.6vw;
        left: 25.25vw;
    }
    .about div.col:nth-child(2) h5 {
        top: 18.9vw;
        left: 13.5vw;
    }
    .about div.col:nth-child(3) h5 {
        top: 18.9vw;
        left: .25vw;
    }
    .about div.col p {
        font-size: .75vw;
        min-width: 20vw;
        line-height: 1vw;
        top: 22.5vw;
    }
    .about div.col:nth-child(1) p {
        left: 19.2vw;
    }
    .about div.col:nth-child(2) p {
        left: 6.9vw;
    }
    .about div.col:nth-child(3) p {
        left: -5.5vw;
    }
    .branch {
        min-height: 19.5vw;
    }
    .branch div.col-12 h4 {
        font-size: 1.49vw;
        top: 1.15vw;
    }
}